<div class="nav">
    <div class="ic">
      <h1>スバムくん</h1>
    </div>

    <div class="icon" id="icon">
      <i class="fa-solid fa-bars"></i>
    </div>

    <div class="rt" id="rt">
      <a href="/" class="hom">HOME<span></span></a>
      <a href="/project" class="pro">PROJECT<span></span></a>
      <a href="/skills" class="ski">SKILLS<span></span></a>
      <a href="/resume" class="res">RESUME<span></span></a>
      <a href="/about" class="ab aboot">ABOUT ME<span></span></a>
      <form action="/contact">
        <button>
          CONTACT
        </button>
      </form>
    </div>
</div>