<%- layout("/layouts/boilerplate.ejs") %>

<style>
</style>

<div class="data">
  <div class="about">
    <div class="abt-h1">
      <h1>ABOUT ME</h1>
    </div>

    <div class="abt-info">
      <div class="abtimg">
        <img src="/uploads/Profie.jpg" alt="img">
      </div>

      <div class="abt">
        <p>
          <b style="color: #ffd10c;">Name:</b> Subham Sahu <br><br>
          <b style="color: #ffd10c;">College Name:</b> Maharishi College of Natural Law, Bhubaneswar, Odisha, India <br><br>
          <b style="color: #ffd10c;">Interested in:</b> Web Development, Full-stack Development <br> <br>
          <b style="color: #ffd10c;">Language:</b> Odia, Hindi, English <br><br>
          Currently I'm priparing for <b style="color: #ffd10c;">JLPT N5</b>                    
        </p>
      </div>
    </div>

    <div class="abt-det">
      <div class="ad">
        <p>
          Hi 👋, I'm Subham Sahu, a passionate and driven Web Developer currently focused on mastering modern web technologies. <br><br>
          
          Over the past 6 months, I've completed 5+ projects, including 2 full-stack applications, gaining hands-on experience in frontend and backend development. 🚀 <br><br>
          
          Alongside web development, I'm deeply interested in Artificial Intelligence and Machine Learning, and I'm excited to explore how these fields can shape the future of technology. 🤖<br><br>
          
          I'm always curious and committed to continuous learning — I love exploring new technologies, frameworks, and best practices to stay ahead in this ever-evolving tech world. 📚<br><br>
          
          I believe in learning by doing, and I enjoy applying my skills to real-world projects that solve meaningful problems.<br><br>
          
          💬 Outside of coding, I'm passionate about problem-solving, team collaboration, and building clean, user-centric applications that create an impact.<br><br>
          
          I'm currently looking for opportunities where I can grow as a developer, contribute to exciting projects, and expand my knowledge in Web Development and AI/ML.<br><br>
        </p>
      </div>
    </div>
  </div>
</div>
