<%- layout("/layouts/boilerplate.ejs") %>

<div class="data">
    <div class="index">
        <div class="text">
            <h5 class="hl" style="font-weight: 700;">
                H &nbsp;&nbsp;E &nbsp;&nbsp;L &nbsp;&nbsp;L &nbsp;&nbsp;O &nbsp;&nbsp;!
            </h5>
            <h5 class="im">
                I &nbsp;A M
            </h5>
            <h3 class="nm">SUBHAM</h3>
            <h2 class="so">SOFTWERE ENGINEER</h2>
            <h5 class="fu">FULL-STACK WEB DEVELOPER</h5>
            <div class="sc-bt">
                <span class="git">
                    <a href="https://github.com/Subham-112">
                        GitHub
                    </a>
                </span>
                <span class="link">
                    <a href="https://www.linkedin.com/in/subham-sahu-489382338/">
                        LinkedIn
                    </a>
                </span>
                <span class="twi">
                    <a href="https://x.com/SubhamSahu80609">
                        Twitter
                    </a>
                </span>
            </div>
        </div>
        <div class="img">
            <img src="/uploads/Profie.jpg" alt="img">
        </div>
    </div>
</div>