<%- layout("/layouts/boilerplate.ejs") %>

<div class="data">
    <div class="proj">
        <h1 class="ist">PROJECTS</h1>
        <!-- <h1 class="all">ALL PROJECTS USING (_______)</h1> -->

        <div class="proj-det">
            <a href="https://airbnb-project-5y7k.onrender.com/allLists" class="proj_i" target="_blank" rel="noopener noreferrer">
                <img src="/uploads/image.png" alt="airbnb">
                <h1>Airbnb clone</h1> <hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut expedita iusto repellat quaerat quam, nesciunt debitis repudiandae ut magni minus, atque repellendus dolorem, quod quas quidem obcaecati? Tenetur, velit iure?</p>
            </a>
            <a href="#" class="proj_i" target="_blank" rel="noopener noreferrer">
                <img src="/uploads/Screenshot 2025-05-20 211343.png" alt="airbnb">
                <h1>My Portfolio Page</h1><hr>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aut expedita iusto repellat quaerat quam, nesciunt debitis repudiandae ut magni minus, atque repellendus dolorem, quod quas quidem obcaecati? Tenetur, velit iure?</p>
            </a>
        </div>
    </div>
</div>
