<%- layout("/layouts/boilerplate.ejs") %>

<div class="data">
    <div class="down">
        <p>Download from here</p>
        <form action="">
            <button>
                <i class="fa-solid fa-download"></i>
                Download
            </button>
        </form>
    </div>
</div>