<%- layout("/layouts/boilerplate.ejs") %>

<div class="data">
  <div class="skill">
    <div class="skl-h1">
      <h1>MY SKILLS</h1>
    </div>

    <div class="on">
        <div class="fd">
            <h3>Frontend Development</h3>
            <div class="ic-on">
                <div class="i ion">
                    <i class="fa-brands fa-html5"></i>
                    <p>HTML</p>
                </div>
    
                <div class="i itw">
                    <i class="fa-brands fa-css"></i>
                    <p>CSS</p>
                </div>
    
                <div class="i ith">
                    <i class="fa-brands fa-js"></i>
                    <p>JS</p>
                </div>
            </div>

            <div class="ic-tw">
                <div class="c">
                    <i class="fa-brands fa-react"></i>
                    <p>REACT</p>
                </div>

                <div class="c">
                    <i class="fa-brands fa-react"></i>
                    <p>NEXT</p>
                </div>

                <div class="c">
                    <i class="fa-brands fa-bootstrap"></i>
                    <p>B.S.</p>
                </div>
            </div>
        </div>

        <div class="bd">
            <h3>Backend Development</h3>
            <div class="bd-i">
                <div class="o">
                    <i class="fa-brands fa-node-js"></i>
                    <p>NODE</p>
                </div>

                <div class="o">
                    <i class="fa-solid fa-e"></i>
                    <p>EXPRESS</p>
                </div>
            </div>

            <div class="bd-ii">
                <div class="o">
                    <i class="fa-solid fa-database"></i>
                    <p>MONGO-DB</p>
                </div>

                <div class="o">
                    <i class="fa-solid fa-database"></i>
                    <p>MySQL</p>
                </div>
            </div>
        </div>
    </div>

    <div class="tw">
        <div class="tc">
            <h3>Tools & Platforms</h3>
            <div class="tc-i">
                <div class="tp">
                    <i class="fa-brands fa-git-alt"></i>
                    <p>GIT</p>
                </div>

                <div class="tp">
                    <i class="fa-brands fa-github"></i>
                    <p>GITHUB</p>
                </div>
            </div>  

            <div class="tc-ii">
                <div class="tp">
                    <i class="fa-brands fa-vuejs"></i>
                    <p>GIT</p>
                </div>

                <div class="tp">
                    <i class="fa-brands fa-neos"></i>
                    <p>NETLIFY</p>
                </div>
            </div>
        </div>
        <div class="sf">
            <h3>Soft Skills</h3>
            <div class="ss-i">
                <div class="sss">
                    <i class="fa-solid fa-triangle-exclamation"></i>
                    <p>Problem solving</p>
                </div>

                <div class="sss">
                    <i class="fa-solid fa-circle-exclamation"></i>
                    <p>Attention to details</p>
                </div>
            </div>
            <div class="ss-ii">
                <div class="ssss">
                    <i class="fa-solid fa-comments"></i>
                    <p>Communication</p>
                </div>

                <div class="ssss">
                    <i class="fa-solid fa-people-group"></i>
                    <p>Team collabration</p>
                </div>
            </div>
        </div>
    </div>

    <div class="inf">
        <div class="skl-info">
            <p>"With a focus on full-stack development, I am proficient in a wide range of technologies and tools that enable me to build scalable and maintainable applications. I am committed to continuous learning and staying updated with industry trends."</p>
        </div>
    </div>
  </div>
</div>
